body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  // background: linear-gradient(
  //   90deg,
  //   rgb(237, 188, 127) 0%,
  //   rgb(239, 189, 127) 35%,
  //   rgb(228, 168, 96) 100%
  // );
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
