.chat {
  width: 70vw;
  height: 70vh;
  display: grid;
  grid-template-columns: 25% 75%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

  &__rooms {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f6f6f7;
    border-right: 1px solid #e5e5e5;
  }

  &__chat {
    background-color: #fafafa;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  &__createroom {
    // display: none;

    button {
      background-color: rgba(255, 255, 255, 0.835);
    }
  }
}

.create-room {
  display: flex;

  button {
    display: flex;
    align-items: center;
    border: none;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    background-color: white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 24px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    color: rgb(94, 94, 94);
  }

  input {
    border: none;
    background-color: white;
    width: 100%;
    height: 30px;
    padding-left: 10px;
    outline: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  }
}

.chatmessages {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin-bottom: 20px;

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    height: 62px;
    width: 62px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    background-color: white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 24px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    color: rgb(102, 47, 190);
  }

  input {
    border: none;
    background-color: white;
    width: 100%;
    height: 60px;
    padding-left: 10px;
    outline: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    font-size: 16px;
  }
}

.sendbtn {
  color: blue;
  font-size: 20px;
}

.messages {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: end;

  ul {
    padding: 0;
    list-style-type: none;
    color: #d3d3d3;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }

  li {
    padding: 10px;
    border-radius: 5px;
    margin: 5px 0;
    background-color: rgb(102, 47, 190);
    color: white;
  }
}

h2 {
  font-size: 16px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: #3e3e3e;
}

.room {
  display: flex;
  width: 75%;
  padding: 20px;
  flex-direction: column;
  gap: 5px;

  &__btn {
    width: 100%;
    padding: 8px 0;
    border-radius: 5px;
    border: none;
    background-color: rgb(102, 47, 190);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    color: white;
  }
}
